<div class="bd-example" style="width: 100%">
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
   <!--  <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol> -->
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2500" ride="carousel">
        <img src="https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="guitar" style="height: 450px; object-fit: cover; object-position: center;">
      </div>
      <div class="carousel-item" data-interval="2500">
        <img src="https://images.unsplash.com/photo-1520523839897-bd0b52f945a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="guitar" style="height: 450px;">
      </div>
      <div class="carousel-item" data-interval="2500">
        <img src="https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="guitar" style="height: 450px; object-fit: cover; object-position: center;">
      </div>
      <div class="carousel-item" data-interval="2500">
        <img src="https://images.unsplash.com/photo-1447301109594-8bd2cc7129fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="guitar" style="height: 450px; object-fit: cover; object-position: center;">
      </div>
      <div class="carousel-caption d-none d-md-block">
          <h1>Find the perfect instrument for your occasion</h1>
          <h3>Rent. Play. Enjoy.</h3>
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>
