
<footer class="footer">
  <ul style="list-style: none">

      <li>
        <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </li>
      <li class="-block d-sm-none">
        <div class="footer-copyright text-center py-3 d-print-table">Powered by:
          <a href="#">Sounds Good</a>
        </div>
      </li>
  </ul>
    <div class="footer-copyright text-center py-3 d-none d-sm-block">Powered by:
    <a href="#">Sounds Good</a>
  </div>
</footer>
