.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
  position: relative;
  text-align: center;
  padding: 0 10px;
  .a:hover {
    text-decoration: none;
  }
}

.card-category:hover {
    opacity: .8;
    text-decoration: none;
}

.card-category .price {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

#categ_name:hover{
  .see_more{
    color: black;
  }
}

.see_more {
  background-color: #F4F4F4;
  color: #F4F4F4;
}


