.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  padding: 0px;
  margin: 0px;
  transform: scale(1.5)
}

.navbar-lewagon .navbar-brand {
  padding: 0px;
  overflow: hidden;
}


// @media screen and (max-width: 400px) {
//   .search-form{
//     display:none;
//   }
//   .mobile-feature{
//     display: unset;
//   }

//   }



@media screen and (max-width: 450px) {
  .form-inline{
    flex-flow: row;
  }

  }
