 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<h1 class="header">List of instruments</h1>
<div class="w3-border w3-padding cards mb-5">
  <% @instruments.each do |instrument| %>
    <%= link_to instrument_path(instrument) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('<%= photo_or_fallback(instrument) %>')">
        <%= instrument.name %>
      </div>
    <% end %>
  <% end %>


<!-- When our instrument has a photo, we can use <%#= cl_image_path instrument.photo %> -->
</div>
<footer>
  <p>Posted by: Hege Refsnes</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
</footer>
